<?xml version="1.0" encoding="UTF-8"?>
<manifest
  identifier="{{id}}"
  version="1.0"
  xmlns="http://www.imsproject.org/xsd/imscp_rootv1p1p2"
  xmlns:adlcp="http://www.adlnet.org/xsd/adlcp_rootv1p2"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.imsproject.org/xsd/imscp_rootv1p1p2
    imscp_rootv1p1p2.xsd
    http://www.adlnet.org/xsd/adlcp_rootv1p2
    adlcp_rootv1p2.xsd">

  <metadata>
    <schema>ADL SCORM</schema>
    <schemaversion>1.2</schemaversion>
  </metadata>

  <organizations default="ORG01">
    <organization identifier="ORG01">
      <title>{{title}}</title>
      <item identifier="ITEM01" identifierref="RES01">
        <title>{{title}}</title>
      </item>
    </organization>
  </organizations>

  <resources>
    <resource
      identifier="RES01"
      type="webcontent"
      adlcp:scormtype="sco"
      href="{{launch}}">

      {{#each files}}
      <file href="{{this}}" />
      {{/each}}

    </resource>
  </resources>

</manifest>
